body{
    line-height: 1;
    margin: 0;
}
nav{
    display: block;
}

/*####### #######Nav Bar#######*/
/*navbar is simply for organizational purposes when you going through your websites and looking for different sections*/

nav{
    width: 100%;
    margin: 0%

}
nav ul{

    background-color: #eee;
    /*Overflow means when the browser is collapsing any of th elements that might be too big to fit in the screen by setting it to overflow hidden.   */
    overflow: hidden;
    margin: 0;/*    making it to 0 it remove the bullet point from the list and make it to edge to edge*/
    padding: 0;/*    padding: 0;*/
}
 ul.topnav li{
/*below line will move the bullet points*/
    list-style: none;
/*Float will move all the listed element and put  them to the position left from vertical to horizontal position*/
     float:left;
    
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    font-size: 16px;
/*min-height could also work for font size. they both work same. */
    text-align: center;
    padding: 14px;
    text-transform:uppercase;
/*Text-transform can change the text to either all upercase or lowercase*/
    color: #666;
    
}
ul.topnav li a:hover{
    background-color: #0080ff;
/*This will bring a blue color hover where ever the cursur will be */
}
ul.topnav li.dropdownIcon{
    display: none;
}
/*---------------------------------------------------------------------------------------------------------------*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}  
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66;}
.col-12{width: 100%;}

/*----------------------------------------------------------------------------------------------------------------*/


.BI{
    background-color: bisque;
}
h1{
    font-family: fantasy;
    text-align: center;
    font-size: 80px;
}

.leftside-col{
    margin-left: 40%;
    font-size: 30px;
    
}
.rightside-col{
    margin-left: 40%; 
    font-size: 30px;
}
.row{
    width: 100%;
    display: flex;
/*Flex: its going to be latch on to and grab any elements that we put inside of our row that has flex on it it can help those thing change size  */

    /* After adding display to flex it allows us to add a few more spexial properties to that class*/
    flex-wrap: wrap;
/* Flex-wrap=wrap   all the element inside the row is flexing ang getting smaller so this flex-wrap will take the content and wrap it around underneath 
    it will help shif our elemtnt around*/
    
    align-items: center;
}
.hr1{
 margin-left: 10%;
margin-right:10%;

    
}
.hr2{
    margin-right:10%;
    margin-left: 10%;
}
ul{
    list-style: none;
}
.class1{
    margin-left: 70px;
    font-size: 30px;
}
.class2{
    margin-left:120%;
    font-size: 30px;
}
.class3{
     margin-left:102%;
    font-size: 30px;
}
.listcolor {
    color:black;
    text-align: justify;
    line-height: 1.1;
    font-weight:100;
    margin-left: auto;
    
   
}
.listcolor2{
    color:black;
    text-align: justify;
    line-height: 1.1;
    font-weight:100;
   
}